body {
  max-width: 100%;
  background-color: #fcfef3;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 12px 0px,
    rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;
}

ul {
  display: flex;
  list-style: none;
}
li {
  padding: 0 auto;
  margin-left: 100px;
}
footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #d9c2ba;
  margin-top: 100px;
}
.logo {
  height: 90px;
  padding-left: 0px;
}
.sign-in {
  padding-right: 30px;
}
.video-compilation {
  width: 100%;
  padding-top: 7px;
}
